.popover {
    &__trigger {
        cursor: pointer;
		border: none;
		background: none;
		color: var(--color-main-text);
    }

    &__content {
		font-family: inherit;
		background: var(--color-card-background);
        color: var(--color-main-text);
        min-width: 20rem;
        border-radius: 8px;
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
        z-index: 1000;
		position: relative;

        animation: popoverFadeIn 0.2s;
    }

	&__close-button {
		position: absolute;
		top: 0.5rem;
		right: 1.5rem;
		z-index: 10;
		font-size: 2rem;
		font-weight: var(--font-weight-bold);
		
		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}
	}
}

@keyframes popoverFadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
