.color-palette {
    background: var(--color-purple-10);
    display: flex;
    gap: 0.8rem;
    padding: 1rem 0.8rem;
    position: absolute;
    bottom: 5rem;
	border-radius: 3px;

    &__color {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
		transition: 0.2s;

		&:hover {
			cursor: pointer;
			transform: scale(1.15);
		}
    }
}
