.custom-toast {
    display: flex;
    color: var(--color-main-text);
	
    &__button {
        background: none;
        border: none;
        text-transform: capitalize;
        color: var(--color-cta);
        font-weight: var(--font-weight-bold);
        transition: 0.1s;
        overflow: hidden;
		
        &:hover {
			cursor: pointer;
            opacity: 0.7;
        }
    }

    &::after {
        position: absolute;
        content: "";
        height: 0.3rem;
        width: 100%;
        background-color: var(--color-purple-70);
        bottom: 0;
        left: 0;
        animation: progress var(--toast-duration) linear;
        transform-origin: left;
    }
}

@keyframes progress {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
