.task {
    min-width: 24rem;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    background-color: var(--color-card-background);
    box-shadow: 0 0.1rem 0.5rem rgba(black, 0.1);
    border-radius: 0.3rem;
    gap: 2.4rem;
    transition: 0.2s;
    break-inside: avoid;
    margin: 0 auto 1.6rem;
    overflow: hidden;
    position: relative;
    top: 0;

    &:hover {
        box-shadow: 0 0.3rem 1rem rgba(black, 0.2);
        top: -2px;

        .task-action {
            opacity: 1;
            visibility: visible;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }

    &__color {
        width: 100%;
        height: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
        flex: 1;
        align-items: center;
        position: relative;
    }

    &__label {
        font-size: 1.2rem;
        background-color: var(--color-purple-30);
        width: fit-content;
        padding: 0.6rem 1.2rem;
        font-weight: var(--font-weight-bold);
        border-radius: 0.5rem;
        text-transform: capitalize;
        line-height: 1;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

	&--list-mode {
		min-width: 70%;
	}
}

.datepicker-wrapper {
    display: flex;
    background: var(--color-purple-10);
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    color: var(--color-main-text);
}

.react-datepicker {
    font-family: inherit;
    border: none;
    background: transparent;
    display: flex;
    color: inherit;
	padding: 2rem;

    &__header {
        background: none;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
		padding: 0;

        &--time {
            padding: 0;
            font-weight: var(--font-weight-bold);
            font-size: 1.4rem;
            color: inherit;
            margin-bottom: 1.2rem;
        }
    }

    &__month-container {
        background: var(--color-purple-10);
        font-size: var(--font-size-menu);
        padding: 1.6rem;
        min-width: 28rem;
    }

    &__time-container {
        border-left: 0.1rem solid var(--color-purple-30);
        background: var(--color-purple-10);
        color: inherit;
		margin-top: 1.6rem;
    }

    &__current-month {
        color: var(--color-main-text);
        font-weight: var(--font-weight-bold);
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }

    &__day-names {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0.8rem;
    }

    &__day-name {
        color: var(--color-secondary-text);
        font-size: 1.2rem;
        font-weight: var(--font-weight-bold);
        width: 3.2rem;
        margin: 0;
    }

    &__month {
        margin: 0;
    }

    &__week {
        display: flex;
        justify-content: space-around;
    }

    &__day {
        color: var(--color-main-text);
        width: 3.2rem;
        height: 3.2rem;
        line-height: 3.2rem;
        border-radius: 50%;
        margin: 0;
        font-size: 1.2rem;

		&:hover {
            background: var(--color-purple-30) !important;
			border-radius: 50% !important;
        }


        &--selected {
            background: var(--color-purple-40) !important;
            font-weight: var(--font-weight-bold);
        }

        &--keyboard-selected {
            background: var(--color-purple-30);
            color: var(--color-main-text);
        }

        &--outside-month {
            color: var(--color-secondary-text);
            opacity: 0.5;
        }

        &--disabled {
            color: var(--color-secondary-text);
            opacity: 0.3;

            &:hover {
                background: transparent;
                cursor: not-allowed;
            }
        }
    }

    &__navigation {
		top: 2.3rem;

        &--next {
            right: 12rem !important;
        }

		&--previous {
			left: 3rem;
		}

        &-icon {
            top: 0.6rem;

            &::before {
                border-color: var(--color-main-text);
                border-width: 0.2rem 0.2rem 0 0;
                height: 1rem;
                width: 1rem;
            }
        }

        &:hover *::before {
            border-color: var(--color-purple-50);
        }
    }

    &__time-list {
        height: 24.5rem !important;

        &::-webkit-scrollbar {
            width: 0.6rem;
        }

        &::-webkit-scrollbar-track {
            background: var(--color-purple-10);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-purple-30);
            border-radius: 0.3rem;
        }
    }

    &__time-list-item {
        height: 4rem !important;
        line-height: 4rem !important;
        padding: 0 1.2rem !important;
        color: inherit !important;
        font-size: 1.4rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-purple-10);

        &:hover {
            background: var(--color-purple-30) !important;
        }

        &--selected {
            background: var(--color-purple-40) !important;
            font-weight: var(--font-weight-bold);
        }

        &--disabled {
            color: var(--color-secondary-text);
            opacity: 0.3;

            &:hover {
                background: transparent !important;
                cursor: not-allowed;
            }
        }
    }

    &__triangle {
        display: none;
    }

    .react-datepicker-time {
        &__header {
            color: inherit;
            font-size: var(--font-size-menu);
        }
    }
}
