.dashboard-item {
	background: var(--color-card-background);
	border-radius: var(--radius-m);
	padding: 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	box-shadow: var(--shadow-1);
	transition: 0.2s;
	min-height: 32rem;

	&:hover {
		transform: translateY(-2px);
		box-shadow: var(--shadow-2);
	}

	&--full {
		grid-column: 1 / -1;
	}

	&__title {
		font-size: var(--font-size-l);
        color: var(--color-main-text);
		text-transform: uppercase;
	}

	&__container {
        padding: 2rem;
        background: var(--color-purple-10);
        border-radius: var(--radius-m);
		height: 100%;
		width: 100%;
	}
}