.tasks-filters {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-radius: var(--radius-md);
    font-family: inherit;
    color: var(--color-main-text);
    padding: 2.8rem;

    &__section {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__title {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-bold);
    }

	.custom-select-wrapper {
		text-transform: capitalize;
	}
}
