.sidebar-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 2.4rem;
    transition: 0.1s;
    position: relative;
    &:hover {
        background: var(--color-purple-30);
        cursor: pointer;
    }
	
    &__text {
		line-height: 1;
        text-transform: capitalize;
    }
	
    &--selected {
		background: var(--color-cta-light);
		&::before {
            content: "";
            height: 100%;
            width: 3px;
            background-color: var(--color-purple-70);
            position: absolute;
            left: 0;
        }
    }
}
