.sidebar-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 2.1rem;
    transition: 0.1s;
    border-left: 0.3rem solid transparent;

    &:hover {
        background: var(--color-cta-light);
        cursor: pointer;
    }
	
    &__text {
		line-height: 1;
        text-transform: capitalize;
    }
	
	&--selected {
		border-left: 0.3rem solid var(--color-purple-70);
	}
}
