.scrollbar {
    &::-webkit-scrollbar {
        width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-purple-30);
		border-radius: var(--radius-s);
		border: 0.2rem solid var(--color-card-background);
	}

	
	&--big {
		&::-webkit-scrollbar-thumb {
			background-color: var(--color-purple-40);
			border: 0.2rem solid var(--color-purple-30);
			
			&:hover {
				background-color: var(--color-purple-50);
				border-width: 0.15rem;
			}
		}
		
		scrollbar-gutter: stable;
	}
}
