.scrollbar {
    &::-webkit-scrollbar {
        width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-purple-30);
		border-radius: 0.4rem;
		border: 0.2rem solid var(--color-card-background);
	}

    scrollbar-gutter: stable;

	&--big {
		&::-webkit-scrollbar-thumb {
			background-color: var(--color-purple-40);
			border: 0.2rem solid var(--color-purple-30);
	
			&:hover {
				background-color: var(--color-purple-50);
				border-width: 0.15rem;
			}
		}
	}
}
