:root {
	--color-purple-60: #C9CDF5;
	--color-purple-40: #DCDEEF;
	--color-purple-20: #EAEBFB;
	--color-purple-10: #F7F7FD;
	--color-white: #fff;
	--color-main-text: #072A58;
	--color-secondary: #E67E22;
	--color-palette-red: #E74C3C;
	--color-palette-orange: #E67E22;
	--color-palette-yellow: #F1C40F;
	--color-palette-green: #2ECC71;
	--color-palette-blue: #3498DB;

	--font-weight-bold: 600;
	--font-size-main: 1.6rem;
	--font-size-menu: 1.4rem;
	
	--card-width: 25rem;
	--sidebar-width: 18.4rem;
  }