.recent-activity {
	height: 32rem;
	overflow: auto;
	
    &__item {
        display: flex;
        gap: 1rem;
        padding: 1.5rem;
        background: var(--color-purple-10);
        border-radius: var(--radius-sm);
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        border-radius: var(--radius-full);
        display: flex;
        justify-content: center;
        font-size: var(--font-size-menu);
		display: flex;
		justify-content: center;
		align-items: center;
    }

    &__content {
        flex: 1;
        min-width: 0;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 0.4rem;
    }

    &__text {
        font-size: var(--font-size-main);
        font-weight: var(--font-weight-bold);
        color: var(--color-main-text);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
		line-height: 1;
    }

    &__time {
        font-size: var(--font-size-menu);
        white-space: nowrap;
		color: var(--color-main-text-light);
    }
	
    &__description {
        font-size: var(--font-size-menu);
		color: var(--color-main-text-light);
    }
}