.recent-activity {
    &__item {
        display: flex;
        gap: 1rem;
        padding: 1.5rem;
        background: var(--color-purple-10);
        border-radius: var(--radius-sm);
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: var(--radius-full);
        display: flex;
        justify-content: center;
        font-size: var(--font-size-menu);
    }

    &__content {
        flex: 1;
        min-width: 0;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 0.4rem;
    }

    &__text {
        font-size: var(--font-size-main);
        font-weight: var(--font-weight-bold);
        color: var(--color-main-text);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__time {
        color: var(--color-main-text);
        font-size: var(--font-size-menu);
        opacity: 0.8;
        white-space: nowrap;
    }

    &__description {
        color: var(--color-purple-70);
        font-size: var(--font-size-menu);
    }
}