.calendar-page {
    padding: 3.2rem;

    .rbc-calendar {
        height: 90vh;
        font-family: var(--font-family-main);
        color: var(--color-main-text);
    }

    .rbc-toolbar {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        button {
            color: var(--color-main-text);
            background: transparent;
            border: 1px solid var(--color-purple-30);
            padding: 0.8rem 1.6rem;
            border-radius: 0.8rem;
            font-size: var(--font-size-menu);
            font-family: var(--font-family-main);
            font-weight: var(--font-weight-bold);
            transition: 0.1s;
            min-width: 8rem;
            cursor: pointer;

            &:hover {
                background-color: var(--color-cta-lighter);
            }

            &.rbc-active {
                background-color: var(--color-cta);
                color: var(--color-card-background);
                border-color: var(--color-cta);

                &:hover {
                    background-color: var(--color-cta-hover);
                }
            }
        }

        .rbc-toolbar-label {
            flex: 1;
            font-size: var(--font-size-main);
            font-weight: var(--font-weight-bold);
            color: var(--color-main-text);
            text-align: center;
        }

        .rbc-btn-group {
            display: flex;

            button {
                position: relative;
                margin: 0;

                &:first-child:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:last-child:not(:first-child) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &:not(:first-child):not(:last-child) {
                    border-radius: 0;
                }
            }
        }
    }

    .rbc-month-view {
        border: 1px solid var(--color-purple-30);
        border-radius: 0.8rem;
        overflow: hidden;
    }

    .rbc-month-row {
        border-bottom: 1px solid var(--color-purple-30);
    }

    .rbc-month-header {
        padding: 1rem;
        background-color: var(--color-purple-10);
        border-bottom: 1px solid var(--color-purple-30);
    }

    .rbc-header {
        padding: 1.2rem;
        font-weight: var(--font-weight-bold);
        color: var(--color-main-text);
        border-bottom: 1px solid var(--color-purple-30);
        background-color: var(--color-purple-10);
    }

    .rbc-date-cell {
        padding: 0.8rem;
        font-size: var(--font-size-menu);
    }

    .rbc-event {
        background-color: var(--color-cta);
        border: none;
        border-radius: 0.8rem;
        padding: 0.4rem 0.8rem;
        color: var(--color-card-background);
    }

    .rbc-event--selected {
        background-color: var(--color-cta-hover);
    }

    .rbc-event__label {
        font-size: var(--font-size-menu);
        font-weight: var(--font-weight-bold);
    }

    .rbc-event-content {
        font-size: var(--font-size-menu);
    }

    .rbc-today {
        background-color: var(--color-cta-lighter);
    }

    .rbc-time-view {
        border: 1px solid var(--color-purple-30);
        border-radius: 0.8rem;
        overflow: hidden;
    }

    .rbc-time-content {
        border-top: 1px solid var(--color-purple-30);

        &::-webkit-scrollbar {
            width: 0.8rem;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-purple-40);
            border: 0.2rem solid var(--color-purple-30);

            &:hover {
                background-color: var(--color-purple-50);
                border-width: 0.15rem;
            }
        }

        scrollbar-gutter: stable;
    }

    .rbc-time-column {
        border-left: none;
    }

    .rbc-time-header {
        border-bottom: 1px solid var(--color-purple-30);
        background-color: var(--color-purple-10);
    }

    .rbc-time-slot {
        color: var(--color-main-text);
        border-top: none;
    }

    .rbc-time-gutter {
        background-color: var(--color-purple-10);
    }

    .rbc-agenda-view {
        border: 1px solid var(--color-purple-30);
        border-radius: 0.8rem;
        overflow: hidden;
		border: none;
    }

    .rbc-agenda-table {
        border-spacing: 0;
        border-collapse: collapse;
        font-size: var(--font-size-menu);


        th,
        td {
            padding: 1.2rem;
            border-bottom: 1px solid var(--color-purple-30);
        }

        thead th {
            background-color: var(--color-purple-10);
            font-weight: var(--font-weight-bold);
        }
    }

    .rbc-agenda-time-cell {
        color: var(--color-main-text);
    }

    .rbc-agenda-event-cell {
        font-weight: var(--font-weight-bold);
    }

    .rbc-off-range-bg {
        background-color: var(--color-purple-10);
    }

    .rbc-row-content {
        border-bottom: none;
    }

    .rbc-row-bg {
        .rbc-day-bg {
            border-left: none;
        }
    }

    .rbc-row-segment {
        padding: 0.2rem;
    }

    .rbc-day-bg + .rbc-day-bg {
        border-left: none;
    }

    .rbc-timeslot-group {
        border-bottom: none;
    }

    .rbc-time-content > * + * > * {
        border-left: none;
    }
}
