.sidebar {
	height: 100%;
	background: var(--color-purple-40);
	position: fixed;
	width: var(--sidebar-width);
	display: flex;
	flex-direction: column;
	padding: 4rem 3rem 6rem;
	gap: 1.2rem;

	&__items-container {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	&__bottom {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		align-items: center;
	}
}