.dashboard {
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 1fr));
    gap: 2.4rem;

    &__subtitle {
        font-size: var(--font-size-m);
        margin-bottom: 1.6rem;
    }

    @media (max-width: $bp-l) {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
