.task-modal {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input {
        font-family: inherit;
        font-size: var(--font-size-menu);
        color: inherit;
        width: 100%;
        padding: 1.2rem 1.6rem;
        background-color: var(--color-purple-10);
        border: 1px solid transparent;
        border-radius: var(--radius-lg);
        transition: 0.1s;
        resize: none;

        &--label {
            text-transform: capitalize;
        }

        &::placeholder {
            color: var(--color-main-text);
            opacity: 0.5;
        }

        &:focus {
            background-color: var(--color-card-background);
        }
    }

    &__textarea {
        resize: none;
        height: 20rem;
		line-height: var(--line-height-regular);
    }

	&__delete-button {
		font-family: inherit;
		border: none;
		background: none;
		font-weight: var(--font-weight-bold);
		font-size: var(--font-size-menu);
		color: var(--color-palette-red-strong);
		display: flex;
		gap: 0.4rem;
		align-items: center;

		&:hover {
			cursor: pointer;
			opacity: 0.7;
		}

		span {
			line-height: 1;
		}
	}
}