.task-modal {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input {
        font-family: inherit;
        font-size: var(--font-size-menu);
        color: inherit;
        width: 100%;
        padding: 1.2rem 1.6rem;
        background-color: var(--color-purple-10);
        border: 1px solid transparent;
        border-radius: 1.2rem;
        transition: 0.1s;
        resize: none;

        &--label {
            text-transform: capitalize;
        }

        &::placeholder {
            color: var(--color-main-text);
            opacity: 0.5;
        }

        &:focus {
            outline: none;
            background-color: var(--color-card-background);
            border-color: var(--color-purple-70);
            box-shadow: 0 0 0 0.4rem var(--color-cta-light);
        }
    }

    &__textarea {
        resize: none;
        height: 10rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 1.6rem;
        margin-top: 0.8rem;
    }

    &__button {
        font-family: inherit;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-size: var(--font-size-menu);
        font-weight: var(--font-weight-bold);
        cursor: pointer;
        transition: 0.1s;

        &--primary {
            background-color: var(--color-cta);
            color: var(--color-card-background);
            border: none;

            &:hover {
                background-color: var(--color-cta-hover);
                transform: translateY(-1px);
                box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
            }

            &:active {
                transform: translateY(0);
                box-shadow: none;
            }

            &:disabled {
                background-color: var(--color-purple-30);
                cursor: not-allowed;
                transform: none;
                box-shadow: none;
            }
        }

        &--secondary {
            background-color: transparent;
            color: var(--color-main-text);
            border: none;

            &:hover {
                background-color: var(--color-purple-10);
            }

            &:active {
                background-color: var(--color-purple-20);
            }
        }
    }
}