.label-distribution {
    &__tooltip {
        border-radius: var(--radius-s);
        padding: 1rem;
        box-shadow: var(--shadow-1);
        background-color: var(--color-purple-10);
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
    }

	&__tooltip-label {
		font-size: var(--font-size-m);
		font-weight: var(--font-weight-bold);
		color: var(--color-main-text);
		text-transform: capitalize;
	}

	&__tooltip-value {
		font-size: var(--font-size-s);
		color: var(--color-main-text-light);
	}

    &__bar {
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.85;
        }
    }
}
