.tasks-header {
    display: flex;
    padding: 2.4rem 3.2rem;
    gap: 2.4rem;
    position: sticky;
    top: 0;
    z-index: var(--z-low);
    background-color: var(--color-purple-20);

    &__search-input-container {
        position: relative;
    }

    &__search-input {
        background-color: var(--color-purple-30);
        width: 30rem;
        height: 4.8rem;
        outline: none;
        border: none;
        border-radius: var(--radius-xl);
        padding-left: 5.4rem;
		padding-right: 4.4rem;
        font-family: inherit;
        font-size: var(--font-size-l);
        color: inherit;
        border: 1px solid transparent;
        transition: 0.2s;

        &::placeholder {
            color: var(--color-main-text);
            opacity: 0.5;
        }

        &:focus {
            border-color: var(--color-cta);
        }
    }

    &__search-icon,
    &__clear-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__search-icon {
        left: 2rem;

		&--active {
			color: var(--color-secondary);
		}
    }

    &__clear-text {
        right: 2rem;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__menu-button {
        cursor: pointer;
        margin-right: 1.6rem;

        &:hover {
            opacity: 0.7;
        }
    }

    &__filter-buttons {
        display: flex;
        align-items: center;
        color: var(--color-main-text);
    }

    &__filter-off-icon {
        cursor: pointer;
        border: none;
        background: none;
        line-height: 1;
        color: inherit;
        margin-top: 4px;

        &:hover {
            opacity: 0.7;
        }
    }

    &__filter-icon {
        &:hover {
            opacity: 0.7;
        }

        &--active {
            color: var(--color-secondary);
        }
    }

    &__add-task-button {
        display: flex;
        background: none;
        border: none;
        border-radius: var(--radius-xl);
        align-items: center;
        gap: 0.8rem;
        transition: 0.1s;
        color: inherit;
        font-size: inherit;
        background-color: var(--color-purple-60);
        color: var(--color-text-white);
        padding: 0 2.4rem;
        font-family: var(--font-family-main);
        font-weight: var(--font-weight-bold);
		line-height: 1;
		flex-shrink: 0;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &--scrolled {
        box-shadow: var(--shadow-1);
    }
}
