.card {
    min-width: 25rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    background-color: var(--color-white);
    box-shadow: 0 0.2rem 1rem rgba(black, 0.1);
    border-radius: 0.3rem;
    gap: 2.4rem;
    transition: 0.2s;
	break-inside: avoid;
	margin: 0 auto 1.6rem;
	
    &:hover {
        box-shadow: 0 0.4rem 1.2rem rgba(black, 0.15);

        .card-action {
            opacity: 1;
            visibility: visible;
        }
    }

    &__middle {
        display: flex;
        align-items: center;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
        flex: 1;
        align-items: center;
    }

	
    &__label {
		font-size: 1.2rem;
        background-color: var(--color-purple-40);
        width: fit-content;
        padding: 0.6rem 1.2rem;
        font-weight: var(--font-weight-bold);
        border-radius: 0.5rem;
        text-transform: capitalize;
		
        &:hover {
			opacity: 0.7;
            cursor: pointer;
        }
    }

	&__color {
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 50%;
	}
}