.app {
	color: var(--color-main-text);
	height: 100vh;
}

.cards-container {
	padding: 3rem;
	column-count: auto;
	column-width: 25rem;
	column-gap: 1.6rem;
}

:root {
	background-color: var(--color-purple-20);
}