.color-picker-quick {
    background: var(--color-purple-10);
    display: flex;
    gap: 0.8rem;
    padding: 1rem 0.8rem;
	border-radius: var(--radius-xs);

    &__color {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: var(--radius-full);
		transition: 0.2s;

		&:hover {
			cursor: pointer;
			transform: scale(1.15);
		}
    }
}
