.tasks-list {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
	
    & > * {
		column-count: auto;
        column-width: 25rem;
        column-gap: 1.6rem;
        position: relative;
    }

	&--list-mode {

		& > * {
			display: flex;
			flex-direction: column;
		}
	}

    &__done {
        .task {
            &__text {
                text-decoration: line-through;
            }
            .task-action {
                visibility: hidden;
            }
        }

    }

	.feedback-state {
		margin-top: 14rem;
	}
}
